/* Regular Texts */
/* Punctuations (dot, comma, semicolon) except strings ('') */
.mtk1 {
  /* color: #ffffff !important; */
  /* text-shadow: #ccccccbb 1px 0 4px !important; */
}

.mtk3 {
  color: #e9e793 !important;
  text-shadow: #eeec6fd0 1px 0 4px !important;
}

/* .mtk4 {
  color: #da98ee !important;
  text-shadow: #c678ddbb 1px 0 4px !important;
} */

/* All text signs and legatures ( =, >, < ) */
.mtk4,
.mtk4 {
  color: lightgreen !important;
  text-shadow: #ade983ce 1px 0 4px !important;
}

/* .mtk5 {
  color: #d19a66 !important;
  text-shadow: #f0b985bb 1px 0 4px !important;
} */

/* .mtk6 {
  color: #f39c12 !important;
} */

/* HTML atrribute names */
/* JS function (regular/arrow) and DOM and Method names */
.mtk7 {
  color: #7cc4ff !important;
  text-shadow: #5ba5e0aa 1px 0 4px !important;
}

.mtk9 {
  color: #c74ded !important;
}

/* HTML attribute values
JS string (''/``) values
.mtk11 {
  color: #96e072 !important;
} */

/* Scrollbar transparent by default, will be visible on hover */
/* .monaco-editor { */
/* --vscode-scrollbarSlider-background: #4e566600; */
/* transition: background-color 0.3s ease-in-out; */
/* } */

/* Bracket colors */
.monaco-editor .bracket-highlighting-0 {
  color: #209bff !important;
  text-shadow: #0073d1bb 1px 0 4px !important;
}
.monaco-editor .bracket-highlighting-1 {
  color: #ffc04c !important;
  text-shadow: #ffc75ebb 1px 0 4px !important;
}
.monaco-editor .bracket-highlighting-2 {
  color: #ffff00 !important;
  text-shadow: #efff64da 1px 0 4px !important;
}
.monaco-editor .bracket-highlighting-3 {
  color: #7ffdff !important;
  text-shadow: #51dcdfbb 1px 0 4px !important;
}
.monaco-editor .bracket-highlighting-4 {
  color: #ffc0cb !important;
  text-shadow: #ffd0d8fb 1px 0 4px !important;
}

/* Arrow buttons on the left of pallatte box */
a.codicon-arrow-left,
a.codicon-arrow-right {
  display: none !important;
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
  font-family: "Comic Sans MS";
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.4) !important;
  padding: 6px !important;
  background-image: linear-gradient(to bottom, #2f2f3d 0%, #252631 100%) !important;
  backdrop-filter: blur(3px) !important;
  border: 2px solid rgb(108, 166, 190) !important;
  border-radius: 15px !important;
}

/* Command Palette */
/* .quick-input-widget {
  font-family: 'Comic Sans MS';
  font-size: 15px;
  transform: translateY(-50%) !important;
  top: 50% !important;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, .45) !important;
  padding: 16px 16px 25px 16px !important;
  background-image: linear-gradient(to bottom, #252631 0%, #232b29 100%) !important;
  border: 2px solid skyblue !important;
  backdrop-filter: blur(3px) !important;
  border-radius: 18px !important;
} */
.monaco-list-rows {
  background: transparent !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
  padding: 6px 8px 7px 8px !important;
  border: none !important;
  background-color: #2f4447 !important;
  font-size: 15px !important;
  margin-bottom: 16px !important;
  border-radius: 40px !important;
}

/* Command palette making center align */
/* #command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .15);
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
} */

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}
